<p style="color: green"><%= notice %></p>
<div class="page">
  <h1 class="page-title">Movies</h1>

  <table class="movies-table">
    <thead>
      <tr>
        <th class="<%= sort_class(:title) %>"><%= sortable :title, "Title" %></th>
        <th class="<%= sort_class(:rating) %>"><%= sortable :rating, "Rating" %></th>
        <th class="<%= sort_class(:release_date) %>"><%= sortable :release_date, "Release date" %></th>
        <th class="actions-col"></th>
      </tr>
    </thead>

    <tbody id="movies">
      <% @movies.each do |movie| %>
        <tr id="<%= dom_id(movie) %>">
          <td><%= movie.title %></td>
          <td><span class="badge"><%= movie.rating %></span></td>
          <td><%= movie.release_date %></td>
          <td><%= link_to "Show", movie, class: "btn btn-link" %></td>
          <td><%= link_to "Edit", edit_movie_path(movie), class: "btn btn-link" %></td>
          <td><%= button_to "Destroy", movie, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to "New movie", new_movie_path, class: "btn btn-primary" %>
  </div>
</div>
