<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release date</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="movies">
    <% @movies.each do |movie| %>
      <tr id="<%= dom_id(movie) %>">
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show", movie %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4"><%= pluralize(@movies.size, "movie") %> total</td>
    </tr>
  </tfoot>
</table>

<%= link_to "New movie", new_movie_path %>
